<section id="banner" class="style1">
  <div class="inner" style="margin-left:1.5em">
    <span class="image">
      <img src="assets/images/aboutmeBanner.jpg" alt="" />
    </span>
    <header class="major">
      <h1>About Me</h1>
    </header>
  </div>
</section>

<!-- Main -->
<div id="main">

  <!-- One -->
  <section id="one">
    <div class="inner">
      <h4>Experienced Technology Analyst with a demonstrated history of working in the finance industry. Skilled in Python, C++,
        Java, Test Driven Development, and Continuous Integration. Strong administrative professional with a Bachelor's degree
        focused in Computer Science from North Carolina State University.</h4>
    </div>
  </section>

</div>
