<section id="banner" class="style2">

  <div class="inner" style="margin-left: 1.5em;">

    <span class="image">

      <img src="assets/images/mywork.JPG" alt="" />

    </span>

    <header class="major">

      <h1>My Work</h1>

    </header>

  </div>

</section>



<!-- Main -->

<div id="main">

  <!-- One -->

  <section id="one" class="spotlights">

    <section *ngFor="let wo of posts | async">

      <a class="image">

        <img src="{{wo.image_ref}}" alt="" data-position="top center" />

      </a>

      <div class="content">

        <div class="inner">

          <header class="major">

            <h3>{{wo.heading}}</h3>

          </header>

          <ul *ngFor="let meh of wo.description">
            <li>{{meh}}</li>
          </ul>

          <span *ngIf="wo.projectLink != ''">
            <ul class="actions">

              <li>
                <a href="{{wo.projectLink}}" target="_blank" class="button">Link to the project</a>
              </li>

            </ul>
          </span>


        </div>

      </div>

    </section>

  </section>

</div>
