<section id="banner" class="style2">

  <div class="inner" style="margin-left: 1.5em;">

    <span class="image">

      <img src="assets/images/mywork.JPG" alt="" />

    </span>

    <header class="major">

      <h1>My Work</h1>

    </header>

  </div>

</section>



<!-- Main -->

<div id="main">

  <!-- One -->

  <section id="one" class="spotlights">

    <section *ngFor="let wo of posts | async">

      <a class="image">

        <img src="{{wo.image_ref}}" alt="" data-position="top center" />

      </a>

      <div class="content">

        <div class="inner">

          <header class="major">

            <h3>{{wo.heading}}</h3>

          </header>

          <ul *ngFor="let meh of wo.description">

            <!-- <li>Developed frontend and backend for a healthcare system/hospital management system as a part of a semester long
              class project
            </li>

            <li>Used
              <strong>Spring, AngularJS, Hibernate, SQL, Java</strong>
            </li>

            <li>
              <strong>Cucumber, Selenium and JUnit</strong> were used for testing</li>

            <li>
              <strong>Test Driven Development</strong> and
              <strong>Continuous Integration</strong> were a major focus for this project.</li> -->
            <li>{{meh}}</li>



          </ul>

          <span *ngIf="wo.projectLink != ''">
            <ul class="actions">

              <li>
                <a href="{{wo.projectLink}}" target="_blank" class="button">Link to the project</a>
              </li>

            </ul>
          </span>


        </div>

      </div>

    </section>

    <!-- <section>

      <a class="image">

        <img src="assets/images/mywork/vector.JPG" alt="" data-position="top center" />

      </a>

      <div class="content">

        <div class="inner">

          <header class="major">

            <h3>3-D Vector Calculator</h3>

          </header>

          <ul>

            <li>A web app that plots vectors and graphs functions</li>

            <li>Can performs various operations on vectors</li>

            <li>APIs used: Three.js and mdl</li>

            <li>Collaborated with 4 members at hackNC</li>

          </ul>

          <ul class="actions">

            <li>
              <a href="https://columbusdong.github.io/HackNC/web/index.html" target="_blank" class="button">Link to the project</a>
            </li>

          </ul>

        </div>

      </div>

    </section> -->

    <!-- <section>

      <a class="image">

        <img src="assets/images/mywork/mobile_data.jpg" alt="" data-position="center center" />

      </a>

      <div class="content">

        <div class="inner">

          <header class="major">

            <h3>Mobile Data Managment System</h3>

          </header>

          <ul>

            <li>Object Oriented C++ Project that allows users to check and purchase mobile data</li>

            <li>Stores user information in a binary file</li>

            <li>Password protected login for users </li>

          </ul>

           <ul class="actions">

              <li>
                <a href="#" class="button">More</a>
              </li>

            </ul>

</div>

</div>

</section> -->

  </section>

</div>
