<section id="banner" class="style4">

  <div class="inner" style="margin-left: 1.5em">

    <span class="image">

      <img src="assets/images/contactmeBanner.jpg" alt="" />

    </span>

    <header class="major">

      <h1>Contact Me</h1>

    </header>

    <div class="content">

      <h4>Feel free to contact me!!</h4>

    </div>

  </div>

</section>







<!-- Contact -->

<div id="contact">

  <div class="inner" style="margin-left: 1.5em">

    <section>

      <!--form method="post" action="https://formspree.io/jaydevparmar1798@gmail.com"-->

      <form [formGroup]="contactForm">

        <div class="field half first">

          <label for="name">Name</label>

          <input type="text" formControlName="name" id="name" placeholder="Type Here" />

        </div>

        <div class="field half">

          <label for="email">Email</label>

          <input type="email" formControlName="email" id="email" placeholder="Type Here">

        </div>

        <div class="field half sub">

          <label for="subject">Subject</label>

          <input type="text" formControlName="subject" id="subject" placeholder="Type Here">

        </div>

        <div class="field">

          <label for="message">
            <br/>Message</label>

          <textarea formControlName="message" id="message" rows="6" placeholder="Enter your message"></textarea>

        </div>

        <input type="hidden" name="_next" value="http://jayparmar.in/submitted.html">

        <ul class="actions">

          <li>
            <input name="submit" type="submit" value="send" class="special" />
          </li>

          <li>
            <input name="reset" type="reset" value="clear" />
          </li>

        </ul>

      </form>

    </section>

    <section class="split">

      <section>

        <div class="contact-method">

          <span class="icon alt fa-envelope"></span>

          <h3>Email</h3>

          <a href="mailto:jaydevparmar1798@gmail.com">jaydevparmar1798@gmail.com</a>
          <br>
          <a href="mailto:jnparmar@ncsu.edu">jnparmar@ncsu.edu</a>

        </div>

      </section>

      <section>

        <div class="contact-method">

          <span class="icon alt fa-phone"></span>

          <h3>Phone</h3>

          <a href="tel:210-912-5635">(201) 912-5635</a>

        </div>

      </section>

    </section>

  </div>
</div>
