<section id="banner" class="style3">

  <div class="inner" style="margin-left: 1.5em;">

    <span class="image">

      <img src="assets/images/resumeBanner.jpg" alt="" />

    </span>

    <header class="major">

      <h1>Resume</h1>

    </header>

  </div>

</section>



<!-- Main -->



<div id="main">

  <ul style="margin-top: 1%; margin-left: 45%" class="actions">

    <li>
      <a href="assets/files/Jay_Parmar_Resume.pdf" class="button" target="_blank">PDF Version</a>
    </li>

  </ul>

  <!-- Career Objective -->

  <section id="career" class="spotlights">

    <section>

      <div class="content">

        <div class="inner">

          <header class="major">

            <h3>CAREER OBJECTIVE</h3>

          </header>

          <ul> To secure an
            <strong> entry level fulltime position</strong> as a
            <strong>Software Engineer/Technology Analyst</strong> that allows me to bring solutions utilizing my educational background,
            strong technical skills and experience and an opportunity to grow within the organization.

          </ul>

        </div>

      </div>

    </section>

  </section>

  <!-- Education -->

  <section id="education" class="spotlights">

    <section>

      <div class="content">

        <div class="inner">

          <header class="major">

            <h3>Education</h3>

          </header>

          <ul>



            <b>North Carolina State University</b>
            <b style="padding-left:9.5em"> GPA: 3.6 </b>

            <br> B.S. Computer Science
            <i style="padding-left:14.1em"> May, 2019 </i>

            <br>
            <br>



            <b>Central Piedmont Community College</b>
            <b style="padding-left:6.5em"> GPA: 4.0</b>
            <br> Associates in Science
            <i style="padding-left:5.1em">Transferred to NC State (August, 2016) </i>



          </ul>

        </div>

      </div>

    </section>

  </section>



  <!-- TECHNICAL-->

  <section id="one" class="spotlights">

    <section>

      <div class="content">

        <div class="inner">

          <header class="major">

            <h3>Technical Skills</h3>

          </header>

          <ul>

            <b>Operating Systems: </b> Ubuntu, Windows, Mac OS
            <br>

            <b>Languages: </b> C, C++, Java, Python
            <br>

            <b>Web Technologies: </b>HTML5, CSS, JavaScript, AngularJS, Angular, jQuery
            <br>
            <b>Frameworks: </b> Spring, Hibernate
            <b>Software Tools:</b> Eclipse, GitHub, Jenkins, JUnit, Selenium, Cucumber
            <br>

            <b>Courses: </b> Grad level Artificial Intelligence, Java Programming, Keynesian Logic/Discrete CSC Mathematics,
            C and Software Tools, Data Structures
            <br>

            <b>Skills: </b> Managing Complex Software, Test Driven Development, Code Coverage, Static Analysis, Version Control,
            Continuous Integration
            <br>





          </ul>

        </div>

      </div>

    </section>

  </section>

  <!-- Projects -->

  <section id="Projects" class="spotlights">

    <section>

      <div class="content">

        <div class="inner">

          <header class="major">

            <h3>Projects</h3>

          </header>

          <ul> My Projects can be found under "My Work".

          </ul>

          <ul class="actions">

            <li>
              <a href="mywork.html" class="button">My Work</a>
            </li>

          </ul>

        </div>

      </div>

    </section>

  </section>

  <!-- ACHIEVEMENTS  -->

  <section id="achievements" class="spotlights">

    <section>

      <div class="content">

        <div class="inner">

          <header class="major">

            <h3>Achievements</h3>

          </header>

          <ul>

            <li>2
              <sup>nd</sup>School Rank for National Cyber Olympiad</li>

            <li>Head of Activities Club in High School.</li>

          </ul>

        </div>

      </div>

    </section>

  </section>

  <!-- Work Experience -->

  <section id="work" class="spotlights">

    <section>

      <div class="content">

        <div class="inner">

          <header class="major">

            <h3>Work Experience</h3>

          </header>

          <ul>

            <b style="font-size:1.2em">Technology Analyst Intern</b>
            <b style="padding-left:4.9em"> June 2018 - August 2018</b>

            <br>

            <em>
              <b>Wells Fargo, Charlotte, NC</b>
            </em>

            <br>

            <li>Worked on a web application tool that ranks securities and different aspects of a security based on criteria
              from the user for a Quantitative Research Platform hosted on a
              <strong>WebLogic</strong> server and testes using
              <strong>JUnit</strong>.</li>

            <li>Designed the complete application UI using
              <strong>Bootstrap</strong>
            </li>

            <li>Created
              <strong>Spring REST</strong> controllers to download static files from the backend and load a portfolio based on users’
              selection
            </li>
            <li>The securities in the portfolio were displayed as a table and grouped based on sector in frontend using
              <strong>jQuery</strong> and
              <strong>DataTables</strong> plugin.</li>
            <li>Loaded the portfolio data from a
              <strong>SQL</strong> database using
              <strong>Hibernate</strong> to be used by the REST controllers. </li>
          </ul>

          <ul>

            <b style="font-size:1.2em">National Science Foundation - Undergraduate researcher</b>
            <b style="padding-left:4.9em"> May 2017 - July 2017</b>

            <br>

            <em>
              <b>North Carolina A&T University, Greensboro, NC</b>
            </em>

            <br>

            <li>Research on detecting lanes from a live camera feed. A segmentation neural network was retrained to detect lanes
              and roads. </li>

            <li>The output from the model was used to estimate the function for the lane.</li>

            <li>The model was 60% accurate</li>

          </ul>

        </div>

      </div>

    </section>

  </section>



</div>
