<!-- Banner -->
<section id="banner" class="major">
  <div class="inner" style="margin-left: 1.5em;">
    <header class="major">
      <h1>{{name}}</h1>
    </header>
    <div class="content">
      <h4>I'm still working on the website but feel free to explore!</h4>
    </div>
  </div>
</section>

<!-- Main -->
<div id="main">

  <!-- One -->
  <section id="one" class="tiles">
    <article>
      <span class="image">
        <img src="assets/images/aboutme.jpg" alt="" />
      </span>
      <header class="major">
        <h3>
          <a href="/about-me" class="link">About Me</a>
        </h3>
      </header>
    </article>
    <article>
      <span class="image">
        <img src="assets/images/mywork.JPG" alt="" />
      </span>
      <header class="major">
        <h3>
          <a href="/my-work" class="link">My Work</a>
        </h3>
      </header>
    </article>
    <article>
      <span class="image">
        <img src="assets/images/resume.jpg" alt="" />
      </span>
      <header class="major">
        <h3>
          <a href="/resume" class="link">Resume</a>
        </h3>
      </header>
    </article>
    <article>
      <span class="image">
        <img src="assets/images/contactme.jpg" alt="" />
      </span>
      <header class="major">
        <h3>
          <a href="/contact-me" class="link">Contact Me</a>
        </h3>
      </header>
    </article>
  </section>

</div>
